<h1 mat-dialog-title>
  {{
    (isDealerScrewed | async)
      ? "Looks like you were screwed.  You must choose trump now: "
      : "Would you like to choose the trump suit?"
  }}
</h1>
<div mat-dialog-content class="dialog-body-content">
  <div class="display-suits">
    <mat-icon
      *ngFor="let suit of suits | async"
      svgIcon="{{ suit }}-icon"
      class="icon"
      (click)="onClickChooseTrump(suit)"
    ></mat-icon>
  </div>

  <button
    *ngIf="!(isDealerScrewed | async)"
    mat-button
    (click)="onClickPassTrump()"
    color="secondary"
    class="button-text"
  >
    Nah, I'll Pass
  </button>
</div>
