.game-messages {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 100%;
    align-items: center;
    height: 48px;
    color: lightgrey;
    font-size: 40px;
    margin: 24px;
}