.landing-page-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.landing-page-container {
    margin-top: 12%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    align-items: center;
}

.join-game-title {
    color: white;
    font-size: 60px;
}

.join-game-subtitle {
    color: white;
    font-size: 16px;
}




.right-align {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.full-width {
    width: 100%;
}