.rotate-upside-down {
    -webkit-transform: rotate(180deg); /* Safari and Chrome */
    -moz-transform: rotate(180deg);   /* Firefox */
    -ms-transform: rotate(180deg);   /* IE 9 */
    -o-transform: rotate(180deg);   /* Opera */
    transform: rotate(180deg);
}

.center-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fixed-width {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 300px;
}

.game-hand-viewer {
    width: 500px;
    display: flex;
    justify-content: center;
}

.game-center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 400px;
}

.spacer {
    width: 20%;
}

.game-structure {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.player-name {
    color: white;
    font-size: 20px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.on-top {
    z-index: 1000000;
}

.content-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.add-padding {
    margin: 24px;
}

.single-card-row {
    display: flex;
    justify-content: center;
}

.card-hand-container-card {
    width: 80px;
    height: auto;
    padding: 4px;
}

.rotate-90-degrees {
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -moz-transform: rotate(90deg);   /* Firefox */
    -ms-transform: rotate(90deg);   /* IE 9 */
    -o-transform: rotate(90deg);   /* Opera */
    transform: rotate(90deg);
}
