<div class="game-structure">
  <div>
    <div class="rotate-upside-down center-cards">
      <div class="game-hand-viewer">
        <app-hand-view-container [showFaceDown]="true" [cards]="northCards">
        </app-hand-view-container>
      </div>
    </div>
    <div class="flex-row">
      <span class="player-name">
          {{ northName | async | titlecase }}
      </span>
    </div>
  </div>

  <div class="game-center-row">
    <div class="spacer"> </div>
    <div class="fixed-width">
      <app-vertical-hand-view-container
        [cards]="westCards"
        class="rotate-90-degrees"
        [placement]="'left'"
      >
      </app-vertical-hand-view-container>
      <span class="player-name">
          {{ westName | async | titlecase }}
      </span>
    </div>

    <app-kitty class="content-center" *ngIf="isGameStateChoosingTrump | async"></app-kitty>
    <app-cards-in-play *ngIf="isGameStatePlaying | async"></app-cards-in-play>

    <div class="fixed-width">
      <span class="player-name">
          {{ eastName | async | titlecase }}
      </span>
      <app-vertical-hand-view-container
        [cards]="eastCards"
        class="rotate-270-degrees"
        [placement]="'right'"
      >
      </app-vertical-hand-view-container>
    </div>
    <div class="spacer"> </div>
  </div>

  <div class="center-cards">
    <div>
      <div class="flex-row">
        <span class="player-name">
          {{ southName | async | titlecase }}
        </span>
      </div>
      <div class="game-hand-viewer">
        <app-select-card *ngIf="isCurrentPlayersTurn | async" [cards]="southCards"
          class="game-hand-viewer"
        >
        </app-select-card>
        <app-hand-view-container
          *ngIf="!(isCurrentPlayersTurn | async)"
          [cards]="southCards"
          class="game-hand-viewer"
        >
        </app-hand-view-container>
      </div>
    </div>
  </div>
</div>
