<div class="game-structure">
  <div>
    <div class="rotate-upside-down center-cards">
      <div class="game-hand-viewer">
        <app-hand-view-container [showFaceDown]="true" [cards]="cards">
        </app-hand-view-container>
      </div>
    </div>
    <div class="flex-row">
      <span class="player-name">
        {{ formatPlayerName("keaton") | async | titlecase }}
      </span>
    </div>
  </div>

  <div class="game-center-row">
    <div class="spacer"> </div>
    <div class="fixed-width">
      <app-vertical-hand-view-container
        [cards]="cards"
        class="rotate-90-degrees"
      >
      </app-vertical-hand-view-container>
      <span class="player-name">
        {{ formatPlayerName("joe") | async | titlecase }}
      </span>
    </div>

    <!-- <app-kitty class="content-center"></app-kitty> -->
    <app-cards-in-play></app-cards-in-play>

    <div class="fixed-width">
      <span class="player-name">
        {{ formatPlayerName("nate") | async | titlecase }}
      </span>
      <app-vertical-hand-view-container
        [cards]="cards"
        class="rotate-90-degrees"
      >
      </app-vertical-hand-view-container>
    </div>
    <div class="spacer"> </div>
  </div>

  <div class="center-cards">
    <div>
      <div class="flex-row">
        <span class="player-name">
          {{ formatPlayerName("bailey") | async | titlecase }}
        </span>
      </div>
      <div class="game-hand-viewer on-top">
        <app-select-card *ngIf="isCurrentPlayersTurn | async" [cards]="cards">
        </app-select-card>
        <app-hand-view-container
          *ngIf="!(isCurrentPlayersTurn | async)"
          [cards]="cards"
        >
        </app-hand-view-container>
      </div>
    </div>
  </div>
</div>
