.landing-page-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.landing-page-container {
    margin-top: 12%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}

.title-container {
    font-size: 60px;
    color: white;
}

.horizontal-space {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card-view-wrapper {
    display: flex;
    justify-content: center;
    height: 150px;
}