<div class="landing-page-center">
  <div class="landing-page-container">
    <div class="title-container"> Euchre...? Euchre...? </div>

    <app-hand-view-container [cards]="cards" [showFaceDown]="true"></app-hand-view-container>

    <div class="horizontal-space">
      <button mat-raised-button (click)="onClickCreateGame()">  
        <mat-icon svgIcon="plus-icon"></mat-icon>
        {{ 'Create New Game' | uppercase }} 
      </button>
      <button mat-raised-button (click)="onClickJoinGame()"> {{ 'Join Game' | uppercase }} </button>
    </div>
  </div>
</div>
