.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.trump-indicator-container {
    background-color: white;
    width: 300px;
    border-radius: 0 8px 8px 0;
    padding: 8px;
}

.suits-svgs-containter {
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.icon {
    width: 72px;
    height: 72px;
    fill: grey;
}

#trump-suit-label {
    font-size: 24px;
}

.selected-trump-suit {
    border: 1px solid grey;
    border-radius: 8px;
}