<div class="flex-column">
    <div class="flex-row top-or-bottom-row">
        <img class="card-hand-container-card" src="{{ southCard | async }}" />
    </div>
    <div class="flex-row middle-row">
        <img class="card-hand-container-card" src="{{ southCard | async }}" />
        <img class="card-hand-container-card" src="{{ southCard | async }}" />
    </div>
    <div class="flex-row top-or-bottom-row">
        <img class="card-hand-container-card" src="{{ southCard | async }}" />
    </div>
</div>
