.settings {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.bottom-right {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.messages-trump-indicator {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
    margin-bottom: 32px;
}